{% extends "layout.html" %}
{% block title%}
  Close Account
{% endblock %}
{% block main %}
<div class="row vh-100 align-items-center">
    <div class="col-3 p-3 bg-white rounded-3 mx-auto">
          <h3>Close account</h3>
          <p>Are you sure you want to close account ?</p>
          <form method="POST" action="/close_account">
            <button type="submit" class="btn btn-primary">Yes, close account</button>
          </form>
          {% if message%}
          <div class="alert alert-{{msg_type}} mt-3" role="alert">
              {{message}}
          </div>
          {% endif%}
        </div>
</div>
{%endblock%}