{% extends "layout.html" %}
{% block title%}
  Quotes
{% endblock %}
{% block main %}
<div class="row vh-100 align-items-center">
    <div class="col-3 p-3 bg-white rounded-3 mx-auto">
          <h3>Search for a Symbol</h3>
          <form method="POST" action="/quote">
            <div class="mb-3">
              <label for="symbol" class="form-label">Symbol:</label>
              <input type="text" class="form-control" id="symbol" name="symbol">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          {% if message%}
          <div class="alert alert-{{msg_type}} mt-3" role="alert">
              {{message}}
          </div>
          {% endif%}
        </div>
</div>
{%endblock%}